{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Anuncio choque
{% endblock %}

{% block content %}

    {% if  participant.vars.treatment  ==  1  %}
        <p>
            Sus ganancias acumuladas <b>NO</b> han sido afectadas.<br>
            Su ganancia final en esta primera parte es de <b>{{ payoff }}</b> puntos experimentales.
        </p>
    {% elif  participant.vars.treatment  ==  2  %}
        <p>
            Sus ganancias acumuladas <b>han</b> sido afectadas. El 80% de sus ganancias fueron <b>destruidas</b>.
        </p>
        <p>
            Usted había acumulado <b>{{ payoff }}</b> puntos experimentales, ahora tiene <b>{{ final_payoff }}</b> puntos
            experimentales.
        </p>
    {% else %}

    <p>     Sus ganancias acumuladas <b>han</b> sido afectadas. El 80% de sus ganancias fueron <b>robadas</b> por otro
            participante. Este otro participante ya participó en otra sesión, y al darle la oportunidad de robar
            o no del 80% de las ganancias de alguien en esta sesión, él o ella decidió hacerlo.
        </p>
    <p>
            Usted habia acumulado <b>{{ payoff }}</b> puntos experimentales, ahora tiene <b>{{ final_payoff }}</b> puntos
            experimentales.</b>
    </p>
    {% endif %}

    {% next_button %}
{% endblock %}