{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Cuestionario
{% endblock %}
{% block content %}
<p>
Agradecemos su participación en esta investigación. </br>
</p>
<p>Sabemos que ya le pedimos su número de celular, pero para estar seguros de que no vamos a cometer un error con su pago,
    le pedimos que lo escriba otra vez en el campo de abajo.
</p>

    {% formfields %}

    {% next_button %}

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
