{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Segunda parte
{% endblock %}

{% block content %}

    <h4>Lanzamiento</h4>

        <table class="table">
            <tr>
                <th>Resultado del lanzamiento</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
            </tr>
            <tr>
                <td>Pago en {{ Constants.currency }}</td>
                <td>2 {{ Constants.currency }}</td>
                <td>4 {{ Constants.currency }}</td>
                <td>6 {{ Constants.currency }}</td>
                <td>8 {{ Constants.currency }}</td>
                <td>10 {{ Constants.currency }}</td>
                <td>0 {{ Constants.currency }}</td>
            </tr>
        </table>
    <p>Por favor, use su dado virtual y realice sus lanzamientos (https://www.dado-virtual.com/).</p>
    <p>
        {% formfield player.reporte_numero %}
    </p>
    <p>
        {% formfield player.reporte_pago %}
    </p>
    <p>
        Si ya realizó los lanzamientos, por favor presione el botón "Siguiente".
    </p>

    {% next_button %}

{% endblock %}

{% block styles  %}
    <link href="{% static "static_dados/css/style_dados.css" %}" rel="stylesheet">
{% endblock %}

