{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bienvenido
{% endblock %}

{% block content %}

    <p>
        Por favor no presione el boton "Empezar" sino hasta que se lo indiquen.
    </p>
    <p>
        Por favor preste atención a las instrucciones del investigador.
    </p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">Empezar</button>

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
