{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones Generales
{% endblock %}

{% block content %}

    <p>Bienvenido. De parte de la UEC-CID agradecemos su participación.</p>

    <p>La actividad de hoy se encuentra dentro de un estudio sobre cómo las personas toman decisiones. Dependiendo de
        las decisiones que ustedes tomen el día de hoy, podrá ganar cierta cantidad de dinero; por eso es importante
        que preste mucha atención a estas instrucciones. Los fondos para cubrir estos gastos han sido entregados en
        su totalidad por la Universidad Nacional de Colombia.</p>

    <p>Antes de continuar con esta actividad, asegúrese de tener total disponibilidad para esta, por al menos 30
        minutos.</p>

    <p>Usted se preguntará por qué damos dinero en estas actividades. Usamos dinero porque la actividad necesita que las
        personas tomen decisiones de tipo económico, es decir, que sean decisiones con consecuencias para el
        bolsillo,  como sucede en la realidad. En ningún caso usted va a perder el dinero que tiene consigo.</p>

    <p>Por su participación recibirá lo que gane como consecuencia de sus decisiones. El pago le será entregado en unos
        días a su cuenta de daviplata. Es importante resaltar que solamente si completa toda la actividad y la
        encuesta al final, podrá recibir la cantidad de dinero que gane por sus decisiones.</p>

    <p>Tenga en cuenta que sus decisiones, incluyendo los pagos, son completamente anónimos, esto quiere decir que
        ningún otro participante conocerá esta información en ningún momento.</p>

    <p>Esta es una tarea que consta de tres partes. En la primera parte usted deberá resolver una tarea de
        transcripción. En esta tarea se le presentarán una serie textos y su labor será transcribirlos. En la segunda
        parte usted deberá tomar una decisión. Por último, en la tercera parte, usted deberá responder un
        cuestionario.</p>

    <p>Ahora le voy a decir cómo se establecen las ganancias: Al final de la segunda parte, las ganancias que usted
        obtenga en la primera y segunda parte constituirán su pago final. Después de un par de días consignaremos ese
        monto en su cuenta de Daviplata.</p>

    <p>Para participar tiene que firmar el consentimiento informado. Este documento es el único donde usted indicará
        datos personales, las otras respuestas son absolutamente anónimas. El consentimiento informado incluye los
        datos de los responsables del proyecto por si desea comunicarse para resolver alguna inquietud luego de
        terminada la actividad de hoy.</p>

    <p>Por favor, den clic en el botón “Empezar”. Después de diligenciar el consentimiento informado por favor siga las
        instrucciones en pantalla.</p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Empezar</button>

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
