% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Fin
{% endblock %}

{% block content %}

    <p>
        Lamentamos informarle que usted ya participó en alguno de los estudios de este proyecto.
        Dado que solo puede participar en un estudio, no puede participar en este estudio.
        Agradecemos que se haya tomado el tiempo de participar.
        Por favor, cierre esta ventana.
    </p>

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
