{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Verificación
{% endblock %}

{% block content %}
<div class = "card bg-light instructions">
    <p class = "card-text m-3">
        Bienvenido,
        <br>
        De parte de la UEC-CID agradecemos su participación. <br>
        <br>
    Para poder verificar que usted sí puede participar en este estudio
        (o que no haya participado previamente), primero debemos verificar los siguientes datos: <br>
    </p>
    <ul>
        <li>Cédula de ciudadania (solo escriba números, por favor): {{form.id_number}} </li>
        <li>Correo institucional (@unal.edu.co): {{form.e_mail}} </li>
    </ul>
    <p class = "card-text m-3">
    Adicionalmente, recuerde que el pago por participar en este estudio lo vamos a hacer a través de la plataforma Daviplata. <br>
    Por favor, ingrese el número de teléfono asociado a su cuenta de Daviplata.<br>
    </p>
    <ul>
        <li>Número de celular (Daviplata): {{ form.phone }}</li>
    </ul>
    <p class = "card-text m-3">
    Antes de continuar con la siguiente página, por favor verifique cuidadosamente el número de teléfono de Daviplata para evitar problemas con su pago. <br>
        <br>
    Cuanto esté listo, por favor dé clic en el botón “Siguiente”.
    </p>
</div>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button m-2">Siguiente</button>


 {{ form.phone.errors }}
{{ form.id_number.errors }}
{{ form.e_mail.errors }}

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
